# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\UiA\IKT520 Sikkerhet i IoT og Machine-Type Communication\LABS\LAB2\simplemqtt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
